.progressControlContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "Noto Sans TC", sans-serif;
}

.buttonGroup {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  max-width: 700px;
  border-top: solid #e6e6eb 1px;
}

.btnPrevious {
  align-self: flex-end;
  background-color: transparent;
  line-height: 20px;
  font-weight: 500;
  color: #000000;
  height: 46px;
  font-size: 14px;
  border-radius: 8px;
  border-width: 0px;
  padding: 0px;
}

.btnNext {
  position: absolute;
  right: 0;
  align-self: flex-end;
  background-color: #f67599;
  line-height: 20px;
  font-weight: 500;
  color: #ffffff;
  width: 110px;
  height: 46px;
  font-size: 14px;
  border-radius: 8px;
  border-width: 0px;
  padding: 0px;
}

.btnNext:nth-child(1) {
  width: 100%;
}

@media screen and (min-width: 749.5px) {
  .buttonGroup {
    max-width: 550px;
  }
  .btnNext:nth-child(1),
  .btnNext {
    width: 174px;
  }
}
