.inputGroupContainer {
  width: 100%;
  display: grid;
  grid-template-columns: .7fr 2.2fr;
  gap: 1rem;
  margin-bottom: 1.6rem;
}

.inputGroupContainerResize {
  composes: inputGroupContainer;
  grid-template-columns: 1.5fr 2fr;
}

.inputGroup{
  display: flex;
  flex-direction: column;
}

.input{
  width: 100%;
  padding: 12px 16px;
  font-size: 12px;
  flex: 1;
  margin-top: .2rem;
  border-radius: 5px;
  border: 1px solid #4a4a4a;
}

.input:invalid{
  color: #747474;
}
