.formBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  gap: 2rem;
  margin-bottom: 1.6rem;
}

.radioGroup{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding: 1rem 1.5rem;
}

.radioGroup:hover {
  cursor: pointer;
}

.input {
  width: 24px;
  height: 20px;
  align-self: center;
  border: 1px solid #2A2A2A;
  border-radius: 50%;
  -webkit-appearance: none;
}

.input:checked {
  box-shadow: inset 0 0 0 4px #2A2A2A;
}

.radioInfo {
  width: 100%;
  font-size: 12px;
}

.shipInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.radioboxBorder {
  border: solid #F0F0F5 1px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.input:checked ~.radioboxBorder {
  border-color: black;
}