.inputGroupContainer {
  width: 100%;
  display: grid;
  gap: 1rem;
  margin-bottom: 1.6rem;
}

.inputGroupContainerInline {
  grid-template-columns: 1fr 1.5fr;
  gap: 1.8rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputLabel {
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 12px 16px;
  font-size: 12px;
  flex: 1;
  margin-top: 0.2rem;
  border-radius: 5px;
  border: 1px solid #4a4a4a;
}

.input:invalid {
  color: #747474;
}

@media screen and (min-width: 749.5px) {
  .inputGroupContainer,
  .inputGroupContainerInline {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 0.7fr 2.2fr;
  }

  .inputGroupContainerResize {
    composes: inputGroupContainer;
    grid-template-columns: 1.5fr 2fr;
  }
}
